.card-round {
    text-align: center;
    padding: 20px 0;
}

.shadow {
    box-shadow: 0 0 20px rgb(20, 20, 20, .2) !important;
}
.shadow-dark {
    box-shadow: 0 6px 6px rgb(20, 20, 20, .4) !important;
}
