.cart-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

    img {
        border-radius: 4px;
        height: 60px;
    }
}

.cart-table {
    td {
        padding: 10px 0 !important;
    }
    th{
        padding: 0 !important;
        margin: 0 !important;
    }
}

.cart-table-price {
    display: flex;
}

@media only screen and (max-width: 640px) {
    .cart-title {
        flex-direction: column;

        img {
            height: 40px;
        }
    }
    .cart-table-price {
        text-align: center;
        display: block;
    }
}
