@media (prefers-color-scheme: dark) {
    // Example Code ....
    /*.dark\:text-white {
        --tw-text-opacity: 1;
        color: rgba(255, 255, 255, var(--tw-text-opacity));
    }*/
}

// Detect if device has hover capability ... // If can hover code gets executed ...
@media (hover) {

}
.small-logo{
    display: none;
}
// Mobile device ... style ...
@media only screen and (hover: none) and (pointer: coarse) {

}


/* Large Desktop screen ... 2xl ... */
@media only screen and (max-width: 1536px) {

}

/* ---------------------------------------------------------------------------- */
/* Desktop screen ... xl ... */
@media only screen and (max-width: 1280px) {

}

/* ---------------------------------------------------------------------------- */
/* Laptop screen ... lg ... */
@media only screen and (max-width: 1024px) {

}

/* ---------------------------------------------------------------------------- */
/* Tablet Design ... md ... */
@media only screen and (max-width: 768px) {

}

/* ---------------------------------------------------------------------------- */
/* Custom breakpoint */
@media only screen and (max-width: 700px) {
    .container {
        padding: 30px 5% 15px 5% !important;
    }
}

/* ---------------------------------------------------------------------------- */
/* Mobile Design ... sm ... */
@media only screen and (max-width: 640px) {
    .hide-on-mobile {
        display: none;
    }
    .large-logo{
        display: none;
    }
    .small-logo{
        display: block;
    }
}

/* ---------------------------------------------------------------------------- */
/* Small Design ... xs ... */
@media only screen and (max-width: 480px) {
    .search-input {
        width: 140px;
    }
}
